@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  color: white;

  background:
    radial-gradient(circle at top left,
      rgba(59,130,246,.22),
      transparent 35%),
    radial-gradient(circle at bottom right,
      rgba(168,85,247,.20),
      transparent 40%),
    linear-gradient(
      180deg,
      #0f172a 0%,
      #111827 50%,
      #020617 100%
    );

  font-family: "Inter", sans-serif;
}